#App {
  width: 400px;
  background-color: rgb(15, 14, 15);
  margin: auto;
  display: flex;
  color: aliceblue;
  justify-content: space-between;
}
#enfant {
  width: 200px;
  height: 300px;
  background-color: rgb(179, 48, 179);

  float: right;
}
.lineair {
  height: 100px;
  width: 100%;
  background-image: linear-gradient(to right, red, green);
}
.para {
  display: block;
  width: 200px;
  height: 100px;
  background-color: yellow;
}